- if f.object.persisted?
  %span.thumbnail
    = image_tag (f.object.image? ? f.object.image.url(:medium) : f.object.local_image.url(:medium)), width: "100%"

= f.label :local_image, "Recipe Photo"
= f.file_field :local_image
