%section.recipe{"ng-controller" => "RecipeController as recipe"}
  .page-header
    %h1
      = @recipe.title
    .description
      :markdown
        #{@recipe.description}

  %section.instructions
    %header
      %h3
        Instructions
    %article
      :markdown
        #{@recipe.instructions}

  = render "actions", primary: "edit"
