%nav.navbar.navbar-default{ role: "navigation" }
  .container-fluid
    .navbar-header
      = link_to "#{image_tag("logo.svg", width: 32, height: 32, class: "pull-left", style: "margin: -8px 10px 0 0;")} My Recipe Book".html_safe, root_url, class: "navbar-brand"

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "All Recipes", recipes_url
