.recipe {
  .jumbotron {
    background-size: cover;
    background-position: center center;
    color: white;

    h1 {
      margin: 0 -15px;
      padding: 20px 15px 10px;

      background: rgba(0,0,0,0.7);

      @media(min-width: 768px) {
        margin: 0 -60px;
        padding: {
          left: 60px;
          right: 60px;
        }
      }
    }

    p {
      margin: 0 -15px;
      padding: 0 15px 15px;

      @media(min-width: 768px) {
        margin: 0 -60px;
        padding: {
          left: 60px;
          right: 60px;
        }
      }

      background: rgba(0,0,0,0.7);
    }
  }
}

.actions {
  $size: 32px;
  $speed: 0.2s;

  position: fixed;
  bottom: 20px;
  right: 20px;
  width: $size;
  height: $size;
  z-index: 1000;
  
  transition: transform $speed ease-in-out;

  a {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: $size;
    height: $size;
    z-index: 1;

    background-color: $brand_success;
    border-radius: $size/2;
    box-shadow: 0 $size*0.075 $size*0.25 rgba(0,0,0,0.15);
    font: {
      size: $size * 0.45;
      weight: bold;
    }
    color: white;
    text-align: center;
    line-height: $size;
    opacity: 0;
    vertical-align: middle;
    transition: transform $speed ease-in-out, opacity $speed;

    &:hover {
      text-decoration: none;
      transform: scale(1.1);
    }

    &.primary {
      opacity: 1;
      z-index: 1000;
    }
  }

  &:hover {
    height: ($size + ($size*0.25))*4;

    a { opacity: 1; }
    a:nth-child(2) { transform: translateY(0 - $size - ($size*0.25)); }
    a:nth-child(3) { transform: translateY(0 - ($size - ($size*0.25))*2); }
    a:nth-child(4) { transform: translateY(0 - ($size - ($size*0.25))*3); }
    a.primary { transform: translateY(0); }
  }
}
